Task3/eml/perceptron/__pycache__/model.cpython-310.pyc
Task3/eml/perceptron/__pycache__/trainer.cpython-310.pyc
Task3/eml/vis/__pycache__/points.cpython-310.pyc
Task5/__pycache__/Task5_1.cpython-310.pyc
Task5/__pycache__/test_Task5_1.cpython-310.pyc
Task5/__pycache__/Task5_1.cpython-39.pyc
Task5/__pycache__/test_Task5_1.cpython-39.pyc
Task5/eml/autograd/__pycache__/context.cpython-39.pyc
Task5/eml/autograd/__pycache__/function.cpython-39.pyc
Task5/eml/autograd/__pycache__/test_function.cpython-39.pyc
Task5/eml/autograd/__pycache__/test_node.cpython-39.pyc
Task5/eml/autograd/node/__pycache__/__init__.cpython-39.pyc
Task5/eml/autograd/node/__pycache__/context.cpython-39.pyc
Task5/eml/autograd/node/__pycache__/function.cpython-39.pyc
Task5/eml/autograd/node/__pycache__/node.cpython-39.pyc
Task5/eml/autograd/node/__pycache__/test_node.cpython-39.pyc
Task4/mlp_training_254211.out
Task4/out
Task4/out_0.pdf
Task4/out_10.pdf
Task4/out_20.pdf
Task4/out_30.pdf
Task4/out_40.pdf
Task4/out_50.pdf
Task4/out_60.pdf
Task4/out_70.pdf
Task4/out_80.pdf
Task4/out_90.pdf
Task4/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Task4/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Task4/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Task4/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Task4/data/FashionMNIST/raw/train-images-idx3-ubyte
Task4/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Task4/data/FashionMNIST/raw/train-labels-idx1-ubyte
Task4/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Task4/FashionMNIST/raw/t10k-images-idx3-ubyte
Task4/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Task4/FashionMNIST/raw/t10k-labels-idx1-ubyte
Task4/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Task4/FashionMNIST/raw/train-images-idx3-ubyte
Task4/FashionMNIST/raw/train-images-idx3-ubyte.gz
Task4/FashionMNIST/raw/train-labels-idx1-ubyte
Task4/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Task6/eml/ext/linear_python/__pycache__/Function.cpython-39.pyc
Task6/eml/ext/linear_python/__pycache__/Layer.cpython-39.pyc
