Task3/eml/perceptron/__pycache__/model.cpython-310.pyc
Task3/eml/perceptron/__pycache__/trainer.cpython-310.pyc
Task3/eml/vis/__pycache__/points.cpython-310.pyc
Task5/__pycache__/Task5_1.cpython-310.pyc
Task5/__pycache__/test_Task5_1.cpython-310.pyc
